{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 bg-clouds">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6">
                <div class="card border-0 shadow-clouds-concave-145 pt-3">
                    <div class="card-body">
                        <div class="title title-white d-flex justify-content-center align-items-center mb-4 mt-4">
                            <h2>FORM</h2>
                            <h3>log in</h3>
                        </div>

                        <form method="post" novalidate {# class="{{error ? 'was-validated'}}" #}>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3 text-center">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="remember_me" name="_remember_me" />
                                        <label class="custom-control-label" for="remember_me">Remember me</label>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-lg btn-pill btn-midnight-blue px-5" type="submit">Log in</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <div class="card-footer">
                        <p class="mb-1 small"><a href="{{ path('app_forgot_password_request') }}">Forgot password?</a></p>
                        <p class="mb-1 small"><a href="{{ path('app_register') }}">Don't have an account? <strong>Register</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
