{% set currentRouteName = app.request.get('_route') %}
<div class="col-3 d-flex justify-content-center align-items-start bg-vue sidebar-vue">
    <div class="text-white section-py-80 w-100">
        <div class="text-center mb-5">
            <i class="fab fa-vuejs fa-5x mb-3"></i>
            <h2>Vue</h2>
        </div>
        <ul id="accordionVue" class="nav nav-sidebar nav-sidebar-dark flex-column">
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') ==  'vue_start_index' ? 'active' }}" href="{{ path('vue_start_index') }}"><i class="fas fa-fw fa-home"></i> Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed {{ currentRouteName starts with 'vue_components_' ? 'active' }}" href="#" data-toggle="collapse" data-target="#components" aria-expanded="{{ currentRouteName starts with 'vue_components_' ? 'true' : 'false' }}" aria-controls="components">
                    <i class="fas fa-fw fa-tools"></i> Components <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <ul id="components" class="nav flex-column flex-nowrap collapse {{ currentRouteName starts with 'vue_components_' ? 'show' }}" aria-labelledby="headingComponents" data-parent="#accordionVue">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fas fa-fw fa-caret-right"></i> Alert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_components_modal' ? 'active' }}" href="{{ path('vue_components_modal') }}"><i class="fas fa-fw fa-caret-right"></i> Modal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_components_map' ? 'active' }}" href="{{ path('vue_components_map') }}"><i class="fas fa-fw fa-caret-right"></i> Map</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed {{ app.request.get('_route') in  ['vue_examples_album', 'vue_examples_browser', 'vue_examples_sound_card', 'vue_examples_resize', 'vue_examples_scroll', 'vue_examples_scroll_progress', 'vue_examples_zoom', 'vue_examples_transition', 'vue_examples_transition_group'] ? 'active' }}" href="#" data-toggle="collapse" data-target="#examples" aria-expanded="{{ app.request.get('_route') in  ['vue_examples_album', 'vue_examples_browser', 'vue_examples_sound_card', 'vue_examples_resize', 'vue_examples_scroll', 'vue_examples_scroll_progress', 'vue_examples_zoom', 'vue_examples_transition', 'vue_examples_transition_group'] ? 'true' : 'false' }}" aria-controls="examples">
                    <i class="far fa-fw fa-file-alt"></i> Examples <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <ul id="examples" class="nav flex-column flex-nowrap collapse {{ app.request.get('_route') in  ['vue_examples_album', 'vue_examples_browser', 'vue_examples_sound_card', 'vue_examples_resize', 'vue_examples_scroll', 'vue_examples_scroll_progress', 'vue_examples_zoom', 'vue_examples_transition', 'vue_examples_transition_group'] ? 'show' }}" aria-labelledby="headingExamples" data-parent="#accordionVue">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_album' ? 'active' }}" href="{{ path('vue_examples_album') }}"><i class="fas fa-fw fa-caret-right"></i> Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_browser' ? 'active' }}" href="{{ path('vue_examples_browser') }}"><i class="fas fa-fw fa-caret-right"></i> Browser</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_sound_card' ? 'active' }}" href="{{ path('vue_examples_sound_card') }}"><i class="fas fa-fw fa-caret-right"></i> Sound Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_resize' ? 'active' }}" href="{{ path('vue_examples_resize') }}"><i class="fas fa-fw fa-caret-right"></i> Resize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_scroll' ? 'active' }}" href="{{ path('vue_examples_scroll') }}"><i class="fas fa-fw fa-caret-right"></i> Scroll</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_scroll_progress' ? 'active' }}" href="{{ path('vue_examples_scroll_progress') }}"><i class="fas fa-fw fa-caret-right"></i> Scroll progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_zoom' ? 'active' }}" href="{{ path('vue_examples_zoom') }}"><i class="fas fa-fw fa-caret-right"></i> Zoom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_transition' ? 'active' }}" href="{{ path('vue_examples_transition') }}"><i class="fas fa-fw fa-caret-right"></i> Transition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') ==  'vue_examples_transition_group' ? 'active' }}" href="{{ path('vue_examples_transition_group') }}"><i class="fas fa-fw fa-caret-right"></i> Transition group</a>
                    </li>
                </ul>
            </li>
            {#
            <li>
                <a href="#" data-toggle="collapse" data-target="#dropdown" aria-expanded="false" aria-controls="dropdown">
                    <i class="fas fa-fw fa-sitemap"></i> Dropdown
                </a>
                <ul id="dropdown" class="collapse" aria-labelledby="headingDropdown" data-parent="#accordionVue">
                    <li>
                        <a href="#">Dropdown Second</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Second</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#dropdownThird" aria-expanded="false" aria-controls="dropdownThird">Dropdown Third</a>
                        <ul id="dropdownThird" class="collapse" aria-labelledby="headingDropdownThird">
                            <li>
                                <a href="{{ path('examples_album') }}">Album</a>
                            </li>
                            <li>
                                <a href="{{ path('examples_pricing') }}">Pricing</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            #}
        </ul>
    </div>
</div>

