{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
            <div>{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block body %}
<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 bg-clouds">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6">
                <div class="card border-0 shadow-clouds-concave-145 pt-3">
                    <div class="card-body">
                        <div class="title title-white d-flex justify-content-center align-items-center mb-4 mt-4">
                            <h2>FORM</h2>
                            <h3>Register</h3>
                        </div>

                        {# {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate', 'class': registrationForm.vars.valid ? '' : 'was-validated' }} ) }} #}
                        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate' }} ) }}

                            {% if not registrationForm.vars.valid %}
                                <div class="alert alert-danger">
                                    {{ form_errors(registrationForm.email) }}
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </div>
                            {% endif %}

                            {# {{ dump(registrationForm.email.vars.valid) }}
                            {{ dump(registrationForm.plainPassword.vars.valid) }}
                            {{ dump(registrationForm.agreeTerms.vars.valid) }} #}

                            <div class="form-group">
                                {{ form_label(registrationForm.email) }}
                                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                                {# {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$'}}) }} #}
                                {# {{ form_errors(registrationForm.email) }} #}
                            </div>
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword.first) }}
                                {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                {# {{ form_errors(registrationForm.plainPassword.first) }} #}
                            </div>
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword.second) }}
                                {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                {# {{ form_errors(registrationForm.plainPassword.second) }} #}
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'custom-control-input'} }) }}
                                {{ form_label(registrationForm.agreeTerms, null, { 'label_attr': {'class': 'custom-control-label'} }) }}
                                {# {{ form_errors(registrationForm.agreeTerms) }} #}
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-lg btn-pill btn-midnight-blue">Register</button>
                            </div>
                        {{ form_end(registrationForm) }}

                    </div>
                    <div class="card-footer">
                        <p class="mb-1 small"><a href="{{ path('app_remind') }}">Forgot password?</a></p>
                        <p class="mb-1 small"><a href="{{ path('app_login') }}">Already have an account? <strong>Log in</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
