{# {% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% form_theme resetForm _self %}
 
{% block form_errors %}
{% apply spaceless %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
            <div>{{ error.message }}</div>
            {# <small class="invalid-feedback">{{ error.message }}</small> #}
        {% endfor %}
    {% endif %}
{% endapply %}
{% endblock form_errors %}

{% block body %}
<section class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 bg-clouds">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6">
                <div class="card border-0 shadow-clouds-concave-145 pt-3">
                    <div class="card-body">
                        <div class="title title-white d-flex justify-content-center align-items-center mb-4 mt-4">
                            <h2>FORM</h2>
                            <h3>Reset</h3>
                        </div>
                        {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate' }}) }}
                        {# {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate', 'class': resetForm.vars.valid ? '' : 'was-validated' }} ) }} #}

                            {# {{ form_row(resetForm.plainPassword) }} #}

                            {% if not resetForm.vars.valid %}
                                <div class="alert alert-danger">
                                    {{ form_errors(resetForm.plainPassword.first) }}
                                    {{ form_errors(resetForm.plainPassword.second) }}
                                </div>
                            {% endif %}
                            
                            <div class="form-group">
                                {{ form_label(resetForm.plainPassword.first) }}
                                {{ form_widget(resetForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                {# {{ form_errors(resetForm.plainPassword.first) }} #}
                            </div>

                            <div class="form-group">
                                {{ form_label(resetForm.plainPassword.second) }}
                                {{ form_widget(resetForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                {# {{ form_errors(resetForm.plainPassword.second) }} #}
                            </div>

                            <div class="text-center">
                                <button class="btn btn-lg btn-pill btn-midnight-blue px-5">Reset password</button>
                            </div>
                        {{ form_end(resetForm) }}
                    </div>
                    <div class="card-footer">
                        <p class="mb-1 small"><a href="{{ path('app_login') }}">Already have an account? <strong>Log In</strong></a></p>
                        <p class="mb-1 small"><a href="{{ path('app_register') }}">Don't have an account? <strong>Register</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
