<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>

<a href="{{ path('examples_bootstrap') }}">Start</a>
<a href="{{ path('components_buttons') }}">Buttons</a>
<a href="{{ path('components_section') }}">Section</a>


<a href="{{ path('examples_album') }}">Album</a>
<a href="{{ path('examples_pricing') }}">Pricing</a>