{% set currentRouteName = app.request.get('_route') %}
{#<div class="col-3 d-flex justify-content-center align-items-center bg-secondary">#}
<div class="col-3 sidebar-bootstrap bg-bootstrap">
    <div class="text-white section-py-80 w-100">
        <div class="text-center mb-5">
            <i class="fab fa-bootstrap fa-5x mb-3"></i>
            <h2>Bootstrap</h2>
        </div>
        <ul id="accordionBootstrap" class="nav nav-sidebar nav-sidebar-dark flex-column">
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') ==  'bootstrap_start_index' ? 'active' }}" href="{{ path('bootstrap_start_index') }}"><i class="fas fa-fw fa-home"></i> Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed {{ currentRouteName starts with 'components_' ? 'active' }}" href="#" data-toggle="collapse" data-target="#components" aria-expanded="{{ currentRouteName starts with 'components_' ? 'true' : 'false' }}" aria-controls="components">
                    <i class="fas fa-fw fa-tools"></i> Components <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <ul id="components" class="nav flex-column flex-nowrap collapse {{ currentRouteName starts with 'components_' ? 'show' }}" aria-labelledby="headingComponents" data-parent="#accordionBootstrap">
                    <li class="nav-item">
                        <a href="{{ path('components_carousel') }}" class="nav-link {{ app.request.get('_route') ==  'components_carousel' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Carousel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('components_buttons') }}" class="nav-link {{ app.request.get('_route') ==  'components_buttons' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Buttons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('components_forms') }}" class="nav-link {{ app.request.get('_route') ==  'components_forms' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Forms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('components_section') }}" class="nav-link {{ app.request.get('_route') ==  'components_section' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Section
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('components_shadow') }}" class="nav-link {{ app.request.get('_route') ==  'components_shadow' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Shadow
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed {{ app.request.get('_route') in  ['examples_album', 'examples_pricing'] ? 'active' }}" href="#" data-toggle="collapse" data-target="#examples" aria-expanded="{{ app.request.get('_route') in  ['examples_album', 'examples_pricing'] ? 'true' : 'false' }}" aria-controls="examples">
                    <i class="far fa-fw fa-file-alt"></i> Examples <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <ul id="examples" class="nav flex-column flex-nowrap collapse {{ app.request.get('_route') in  ['examples_album', 'examples_pricing'] ? 'show' }}" aria-labelledby="headingExamples" data-parent="#accordionBootstrap">
                    <li class="nav-item">
                        <a href="{{ path('examples_album') }}" class="nav-link {{ app.request.get('_route') ==  'examples_album' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Album
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('examples_pricing') }}" class="nav-link {{ app.request.get('_route') ==  'examples_pricing' ? 'active' }}">
                            <i class="fas fa-fw fa-caret-right"></i> Pricing
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dropdown" aria-expanded="false" aria-controls="dropdown">
                    <i class="fas fa-fw fa-sitemap"></i> Dropdown <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <ul id="dropdown" class="nav flex-column flex-nowrap collapse" aria-labelledby="headingDropdown" data-parent="#accordionBootstrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-fw fa-caret-right"></i> Dropdown Second</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-fw fa-caret-right"></i> Dropdown Second</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dropdownThird" aria-expanded="false" aria-controls="dropdownThird">
                            <i class="fas fa-fw fa-sitemap"></i> Dropdown Third <i class="fas fa-fw fa-angle-left"></i>
                        </a>
                        <ul id="dropdownThird" class="nav flex-column flex-nowrap collapse" aria-labelledby="headingDropdownThird">
                            <li class="nav-item">
                                <a href="{{ path('examples_album') }}" class="nav-link"><i class="fas fa-fw fa-caret-right"></i> Album</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('examples_pricing') }}" class="nav-link"><i class="fas fa-fw fa-caret-right"></i> Pricing</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

