{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<section class="section-pb-80 section-pt-152 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-angle-right breadcrumb-light justify-content-center bg-transparent text-uppercase small">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('start_blog') }}">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Post detail</li>
                    </ol>
                </nav>
                <div class="title title-white d-flex justify-content-center align-items-center mb-4">
                    <h2>Blog</h2>
                    <h3>Post detail</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Project description</h2>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="far fa-fw fa-calendar-alt text-turquoise mr-2"></i>April 14, 2020</li>
                        <li class="list-inline-item text-silver">|</li>
                        <li class="list-inline-item"><i class="fas fa-fw fa-user text-turquoise mr-2"></i>John Doe</li>
                        <li class="list-inline-item text-silver">|</li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fas fa-fw fa-comments text-turquoise mr-2"></i>12 comments</a>
                        </li>
                    </ul>
                    <ul class="d-flex flex-row flex-wrap justify-content-center list-unstyled">
                        <li>
                            <a class="btn btn-outline-peter-river btn-pill btn-sm px-3 m-1" href="#">
                                <i class="fab fa-fw fa-twitter"></i> Tweet
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-wet-asphalt btn-pill btn-sm px-3 m-1" href="#">
                                <i class="fab fa-fw fa-facebook-f"></i> Share
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-alizarin btn-pill btn-sm px-3 m-1" href="#">
                                <i class="fab fa-fw fa-google-plus-g"></i> Share
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo sit amet eros non dapibus. Aenean vitae fermentum diam.</p>
                <img class="img-fluid rounded shadow-clouds my-5 mx-auto d-block" src="{{ asset('images/portfolio/1.jpg') }}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo sit amet eros non dapibus. Aenean vitae fermentum diam.</p>

                <hr/>
                <div class="media align-items-center">
                    <img class="img-fluid rounded-circle shadow-clouds mr-5" src="{{ asset('images/profiles/szymon.jpg')|imagine_filter('media_thumbnail_165') }}">
                    <div class="media-body">
                        <h4>About author</h4>
                        <p class="mb-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                </div>
                <hr/>

                <h3 class="mb-5">Comments (4)</h3>
                <div class="media">
                    <img class="img-fluid rounded shadow-clouds mr-3" src="{{ asset('images/profiles/1.jpg')|imagine_filter('media_thumbnail_small') }}">
                    <div class="media-body">
                        <div class="card border-0 bg-clouds-concave-145 shadow-clouds mb-4">
                            <div class="card-body">
                                <h5 class="mt-0">Media heading</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <p class="mb-1 small text-right text-silver">April 14, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <img class="img-fluid rounded img-thumbnail shadow-clouds mr-3" src="{{ asset('images/profiles/2.jpg')|imagine_filter('media_thumbnail_small') }}">
                    <div class="media-body">
                        <div class="card border-0 bg-clouds-concave-145 shadow-clouds mb-4">
                            <div class="card-body">
                                <h5 class="mt-0">Media heading</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <p class="mb-1 small text-right text-silver">April 14, 2020</p>
                            </div>
                        </div>

                        <div class="media mt-3">
                            <a class="mr-3" href="#">
                                <img class="img-fluid rounded-circle shadow-clouds mr-3" src="{{ asset('images/profiles/3.jpg')|imagine_filter('media_thumbnail_small') }}">
                            </a>
                            <div class="media-body">
                                <div class="card border-0 bg-turquoise-concave-145 shadow-clouds mb-4">
                                    <div class="card-body text-white">
                                        <h5 class="mt-0">Media heading</h5>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        <p class="mb-1 small text-right">April 14, 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <img class="img-fluid rounded-circle shadow-clouds mr-3" src="{{ asset('images/profiles/4.jpg')|imagine_filter('media_thumbnail_small') }}">
                    <div class="media-body">
                        <div class="card border-0 bg-clouds-concave-145 shadow-clouds mb-4">
                            <div class="card-body">
                                <h5 class="mt-0">Media heading</h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                <p class="mb-1 small text-right text-silver">April 14, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase">Info</h4>
                <ul class="list-unstyled mb-4">
                    <li>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-fw fa-map-marker-alt text-turquoise mr-2"></i> 
                            <span>Company name</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <i class="far fa-fw fa-calendar-alt text-turquoise mr-2"></i> 
                            <span>September 2020</span>
                        </div>
                    </li>
                </ul>
                <h4 class="text-uppercase">Recent posts</h4>
                <ul class="list-unstyled mb-4">
                    <li>
                        <div class="d-flex align-items-center">                            
                            <i class="fas fa-fw fa-caret-right text-turquoise mr-2"></i>
                            <a href="#">Webdesign</a>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-fw fa-caret-right text-turquoise mr-2"></i>
                            <span>HTML/CSS</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-fw fa-check text-turquoise mr-2"></i> 
                            <span>Marketing</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-fw fa-check text-turquoise mr-2"></i> 
                            <span>Identity</span>
                        </div>
                    </li>
                </ul>
                <h4 class="text-uppercase">Tag cloud</h4>
                <a class="btn btn-outline-wet-asphalt btn-pill btn-sm px-3 mb-1" href="#">Symfony</a>
                <a class="btn btn-outline-turquoise btn-pill btn-sm px-3 mb-1" href="#">Vue</a>
                <a class="btn btn-outline-amethyst btn-pill btn-sm px-3 mb-1" href="#">Bootstrap</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}