{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<header class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 
section--image section--image-start section--parallax section--gradient-basic">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center text-white start-welcome-title">
                <h4>{{ 'We are digital agency.'|trans }}</h4>
                <h1>{{ 'We make digital products and services.'|trans }}</h1>
            </div>
            <div class="col-md-10">
                <ul class="d-flex flex-row justify-content-center list-unstyled start-welcome-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="section-py-80 bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 text-center">
                <div class="title title-light d-flex justify-content-center align-items-center mb-4">
                    <h2>ABOUT</h2>
                    <h3>Who We Are</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid mx-auto mb-3 rounded" data-src="holder.js/570x300?bg=353b47&fg=6c757d&size=12&auto=yes">
            </div>
            <div class="col-md-6">
                <h3>Good people, big projects.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et posuere neque, in sodales nulla. In efficitur vehicula felis, a pharetra velit sagittis et. Morbi a iaculis quam, a feugiat leo.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Play</button>
            </div>
        </div>
    </div>
</section>
<section class="section-py-80">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 text-center">
                <div class="title d-flex justify-content-center align-items-center mb-4">
                    <h2>TEAM</h2>
                    <h3>Our Creators</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-fluid mx-auto mb-3 rounded" data-src="holder.js/165x165?bg=353b47&fg=6c757d&size=12&auto=yes">
                        <!-- <img class="img-fluid mb-3 rounded-circle" src="{{ asset('images/profiles/ania.jpg') }}"> -->
                    </div>
                    <div class="col-sm-8 text-center text-sm-left">
                        <h4>David Doe</h4>
                        <h6 class="text-uppercase text-muted start-about-us-position">photographer, SEO SPECIALIST</h6>
                        <p>Praesent eu placerat enim, vitae condimentum arcu. Aenean ac semper purus.</p>
                        <ul class="d-flex flex-row justify-content-center justify-content-sm-start list-unstyled start-about-us-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <a class="btn btn-sm btn-success" href="{{ path('about_ania') }}">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-fluid mx-auto mb-3 rounded" data-src="holder.js/165x165?bg=353b47&fg=6c757d&size=12&auto=yes">
                        {# <img class="img-fluid mb-3 rounded-circle" src="{{ asset('images/profiles/szymon.jpg')|imagine_filter('squared_thumbnail_small') }}"> #}
                    </div>
                    <div class="col-sm-8 text-center text-sm-left">
                        <h4>Jane Doe</h4>
                        <h6 class="text-uppercase text-muted start-about-us-position">programmer, WEBDESIGNER</h5>
                        <p>Praesent eu placerat enim, vitae condimentum arcu. Aenean ac semper purus.</p>
                        <ul class="d-flex flex-row justify-content-center justify-content-sm-start list-unstyled start-about-us-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <a class="btn btn-sm btn-success" href="{{ path('about_szymon') }}">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-py-80 bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 text-center">
                <div class="title title-light d-flex justify-content-center align-items-center mb-4">
                    <h2>SERVICES</h2>
                    <h3>What We Do</h3>
                </div>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-paint-roller mb-3"></i>
                            <h5 class="card-title">Web Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin, erat nec malesuada imperdiet.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-toggle-on mb-3"></i>
                            <h5 class="card-title">UI/UX Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-brain mb-3"></i>
                            <h5 class="card-title">Branding</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-fw fa-2x fa-js mb-3"></i>
                            <h5 class="card-title">Web Development</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fas fa-fw fa-2x fa-cubes mb-3"></i>
                            <h5 class="card-title">App Development</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-fw fa-2x fa-earlybirds mb-3"></i>
                            <h5 class="card-title">SEO Services</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-py-80">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 text-center">
                <div class="title d-flex justify-content-center align-items-center mb-4">
                    <h2>Tools</h2>
                    <h3>What Tools We Use</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-symfony fa-5x mb-3"></i>
                            <h3 class="card-title">Symfony</h3>
                            <a class="card-link" target="_blank" href="{{ path('symfony_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-vuejs fa-5x mb-3"></i>
                            <h3 class="card-title">Vue</h3>
                            <a class="card-link" target="_blank" href="{{ path('vue_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center h-100">
                    <div class="my-auto">
                        <div class="card-body">
                            <i class="fab fa-bootstrap fa-5x mb-3"></i>
                            <h3 class="card-title">Bootstrap</h3>
                            <a class="card-link" target="_blank" href="{{ path('bootstrap_start_index') }}">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade fade-scale" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9 rounded-bottom">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jsQ7yKwDPZk?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}