{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<header class="d-flex flex-shrink-0 align-items-center section-pb-80 section-pt-152 section-min-h-100 
section--image section--image-start section--parallax section--gradient-basic">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center text-white start-welcome-title">
                <h4>{{ 'We are digital agency.'|trans }}</h4>
                <h1>{{ 'We make digital products and services.'|trans }}</h1>
            </div>
            <div class="col-md-10">
                <ul class="d-flex flex-row justify-content-center list-unstyled start-welcome-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{{ include('start/_about.html.twig') }}
{{ include('start/_team.html.twig') }}
{{ include('start/_services.html.twig') }}
{{ include('start/_tools.html.twig') }}
{# SKILLS - How We Do It #}
{# PORTFOLIO - Our Works #}
{# TESTIMONIALS - Our Clients Say #}
{# PARTNERS - Trusted By #}
{# PRICE - Choose Your Plan #}
{# BLOG - Explore Our Life #}
{# CONTACTS - Get In Touch #}

{% endblock %}

{% block javascripts %}{% endblock %}