<nav id="sidebarVueMenu" class="col-lg-3 bg-vue sidebar-vue d-lg-block collapse">
    <div class="text-white section-py-80 w-100">
        <div class="text-center mb-5">
            <i class="fas fa-blog fa-5x mb-3"></i>
            <h2>Blog</h2>
        </div>
        <div class="page-header">
            <h4><i class="fa fa-fw fa-share-alt"></i> {{'Categories'|upper}}</h4>
        </div>
        <div class="page-header">
            <h4><i class="fa fa-fw fa-tags"></i> {{'Tags'|upper}}</h4>
        </div>
        <div class="page-header">
            <h4><i class="fas fa-fw fa-archive"></i> {{'Archives'|upper}}</h4>
        </div>
        <div class="page-header">
            <h4>{{'Recent Posts'|upper}}</h4>
        </div>
        <div class="page-header">
            <h4>{{'Calendar'|upper}}</h4>
        </div>
    </div>
</nav>