{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block body %}

<section class="section-pb-80 section-pt-152 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-angle-right breadcrumb-light justify-content-center bg-transparent text-uppercase small">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('blog_post_index') }}">Blog</a></li>
                        <li class="breadcrumb-item"><a href="{# {{ path('blog_category', { 'slug': blog_post.category.slug }) }} #}">{{ blog_post.category }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ blog_post.title|title|raw }}</li>
                    </ol>
                </nav>
                <div class="title title-white d-flex justify-content-center align-items-center mb-4">
                    <h2>Blog</h2>
                    <h3>Post detail</h3>
                </div>
            </div>
        </div>


    <div class="row">    
        <div class="col-lg-12">

            <ul class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Start</a></li>
                <li><a href="{{ path('blog_post_index') }}">Blog</a></li>
                <li><a href="{# {{ path('blog_category', { 'slug': blog_post.category.slug }) }} #}">{{ blog_post.category }}</a></li>
                <li class="active">{{ blog_post.title|title|raw }}</li>
            </ul>
            <div class="page-header">
                <h2>{{ blog_post.title|title|raw }}</h2>
                <p class="float-right">
                    <a class="btn btn-sm btn-primary" href="https://twitter.com/intent/tweet?url={{ app.request.getUri }}&text={{ blog_post.title|raw }}" target="_blank" title="Tweet this on Twitter"><i class="fab fa-fw fa-twitter"></i> Tweet</a>
                    <a class="btn btn-sm btn-primary" href="https://facebook.com/sharer.php?u={{ app.request.getUri }}&t={{ blog_post.title|raw }}" target="_blank" title="Share this on Facebook"><i class="fab fa-fw fa-facebook-f"></i> Share</a>
                    <a class="btn btn-sm btn-primary" href="https://plus.google.com/share?url={{ app.request.getUri }}" target="_blank" title="Post this to Google+"><i class="fab fa-fw fa-google-plus-g"></i> Share</a>
                </p>
                <p>
                    <i class="fa fa-calendar"></i> <a href="#">{% if blog_post.publishedat %}{{ blog_post.publishedat|date('l, F j, Y') }}{% endif %}</a> | 
                    <i class="fa fa-user"></i> <a href="#">{{ blog_post.authoremail }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                {{ blog_post.excerpt|raw }}
            </p>
            <p>
                {{ blog_post.content|raw }}
            </p>
            <a href="{{ path('blog_post_index') }}">Back to the list</a>

        </div>
        <div class="col-md-4">
            {{ include('blog/_sidebar.html.twig') }}
        </div>
    </div>

    </div>
</section>
{#     <h1>BlogPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ blog_post.slug }}</td>
            </tr>
            <tr>
                <th>Excerpt</th>
                <td>{{ blog_post.excerpt }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog_post.content }}</td>
            </tr>
            <tr>
                <th>AuthorEmail</th>
                <td>{{ blog_post.authorEmail }}</td>
            </tr>
            <tr>
                <th>StatusPost</th>
                <td>{{ blog_post.statusPost }}</td>
            </tr>
            <tr>
                <th>ShowComment</th>
                <td>{{ blog_post.showComment ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>EnableComment</th>
                <td>{{ blog_post.enableComment ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ViewsPost</th>
                <td>{{ blog_post.viewsPost }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ blog_post.publishedAt ? blog_post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ blog_post.updatedAt ? blog_post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_post_index') }}">back to list</a> #}


{% endblock %}
