A contact enquiry was made by {{ contact.name }} at {{ "now" | date("Y-m-d H:i") }}.<br/>

Reply-To: {{ contact.email }}<br/>
Subject: {{ contact.subject }}<br/>
Description:<br/>
{{ contact.description }}
<br/>
{# To contact, go to: <a href="{{ url('contact_new') }}">...</a>. #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
