<nav class="navbar navbar-expand-lg navbar-dark fixed-top flex-wrap px-sm-4 
{{ app.request.get('_project') in  ['bootstrap'] ? 'bg-' ~ app.request.get('_project') : 'bg-midnight-blue' }}
{{ app.request.get('_route') in  ['homepage', 'examples_banner', 'new_webinar_room', 'about_me', 'about_ania'] ? 'navbar-transparent' }} 
{{ app.request.get('_route') in  ['examples_banner'] ? 'navbar-banner-show' }}">
  {% if app.request.get('_route') in  ['examples_banner'] %}
    {{ include('_navbarBanner.html.twig') }}
  {% endif %}
  <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fas fa-camera-retro"></i> Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ app.request.get('_route') ==  'homepage' ? 'active' }}">
        <a class="nav-link" href="{{ path('homepage') }}">Start <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{ app.request.get('_route') ==  'examples_banner' ? 'active' }}">
        <a class="nav-link" href="{{ path('examples_banner') }}">Banner</a>
      </li>
      <li class="nav-item {{ app.request.get('_route') ==  'about_me' ? 'active' }}">
        <a class="nav-link" href="{{ path('about_me') }}">About Me</a>
      </li>
      {#
      <li class="nav-item {{ app.request.get('_route') ==  'vuetify_start_index' ? 'active' }}">
        <a class="nav-link" href="{{ path('vuetify_start_index') }}">Vuetify</a>
      </li>
      #}
      {#
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle
          {{ app.request.get('_route') in ['landing_homepage', 'webinar_flywheel'] ? 'active' }}" href="#" id="navbarDropdownLanding" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Landing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLanding">
          <a class="dropdown-item" href="{{ path('landing_homepage') }}">Homepage</a>
          <a class="dropdown-item" href="{{ path('webinar_flywheel') }}">Webinar flywheel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('new_webinar_room') }}">New webinar room</a>
        </div>
      </li>
      #}
      {#
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle
          {{ app.request.get('_route') in ['examples_bootstrap', 'examples_album'] ? 'active' }}" href="#" id="navbarDropdownBootstrap" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bootstrap
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownBootstrap">
          <a class="dropdown-item" href="{{ path('examples_bootstrap') }}">Bootstrap</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('examples_album') }}">Album</a>
          <a class="dropdown-item" href="{{ path('examples_pricing') }}">Pricing</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Vue</div>
          <a class="dropdown-item" href="{{ path('examples_resize') }}">Resize <span class="badge badge-pill badge-success">Vue</span></a>
          <a class="dropdown-item" href="{{ path('examples_scroll') }}">Scroll <span class="badge badge-pill badge-success">Vue</span></a>
        </div>
      </li>
      #}
      <li class="nav-item {{ app.request.get('_route') ==  'contact' ? 'active' }}">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
      </li>
      {#
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      #}
    </ul>
    <ul class="navbar-nav my-lg-0">
      {#
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
      #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="xnavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lang {{ app.request.locale|upper }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="xnavbarDropdownMenuLink">
          {% for locale in locales %}
            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|upper }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    {#
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    #}
  </div>
</nav>