{% extends 'bootstrap/layout.html.twig' %}
{% block title %}Buttons{% endblock %}
{% block stylesheets %}{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
{% apply spaceless %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
            <small class="invalid-feedback">{{ error.message }}</small>
        {% endfor %}
    {% endif %}
{% endapply %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% apply spaceless %}
    <div {{ block('widget_container_attributes') }} class="is-invalid">
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endapply %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
{% apply spaceless %}
    <div class="custom-control custom-checkbox custom-control-inline">
        <input class="custom-control-input" id="{{ id }}" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label class="custom-control-label" for="{{ id }}">{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endapply %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% apply spaceless %}
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="{{ id }}" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label class="custom-control-label" for="{{ id }}">{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endapply %}
{% endblock radio_widget %}

{% block content_bs %}
<section class="d-flex flex-shrink-0 section-py-80 section-min-h-100">
    <div class="container-fluid">
        <div class="row section-min-h-100 justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <h3>Custom forms validation</h3>
                        <p>Własne templatki dla widget-ów oraz form_errors</p>
                    </div>
                    <div class="col-12">
                        {# <form name="basic_validators" method="post" novalidate>
                            <div class="form-group">
                                {{ form_label(form.username, '', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email, 'Email address', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-pill btn-outline-midnight-blue">{{ button_label|default('Send message') }}</button>
                        </form> #}
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': form.vars.valid ? '' : 'was-validated' }}) }}
                            {# {{ form_widget(form) }} #}

                            {{ form_errors(form) }}

                            <div class="form-group">
                                {{ form_label(form.firstName) }}
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.lastName) }}
                                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Last name'} }) }}
                                {{ form_errors(form.lastName) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.username) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.website) }}
                                {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.website) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.password.first) }}
                                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.password.first) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.password.second) }}
                                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.password.second) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.gender) }}
                                {{ form_widget(form.gender) }}
                                {{ form_errors(form.gender) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.age) }}
                                {{ form_widget(form.age) }}
                                {{ form_errors(form.age) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.birthday) }}
                                {{ form_widget(form.birthday) }}
                                {{ form_errors(form.birthday) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.internetBrowsers) }}
                                {{ form_widget(form.internetBrowsers, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.internetBrowsers) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.operatingSystem) }}
                                {{ form_widget(form.operatingSystem, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.operatingSystem) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.languages) }}
                                {{ form_widget(form.languages) }}
                                {{ form_errors(form.languages) }}
                            </div>

                            {# 
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.website) }}
                            {{ form_row(form.password) }}
                            {{ form_row(form.gender, {label_attr: {class: 'radio-custom'} }) }}
                            {{ form_row(form.internetBrowsers) }}
                            {{ form_row(form.operatingSystem) }}
                            {{ form_row(form.languages, {label_attr: {class: 'checkbox-custom'} }) }} #}

                            <button type="submit" class="btn btn-pill btn-midnight-blue">{{ button_label|default('Send message') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}{% endblock %}