{% form_theme form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
            <small class="invalid-feedback">{{ error.message }}</small>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': form.vars.valid ? '' : 'was-validated' }} ) }}
    {# {{ form_widget(form) }} #}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.subject) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.description) }}
    </div>

    <button type="submit" class="btn btn-pill btn-outline-midnight-blue">{{ button_label|default('Send message') }}</button>
{{ form_end(form) }}
